.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.idea

# Android related
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
android/app/google-services.json
*.jks